{% extends 'base.html' %}
{% load cms_tags sekizai_tags %}

{% block title %}
<title>Lumentica :: {{ request.current_page.get_title }}</title>
{% endblock %}

{% block base_content %}
  {% cms_toolbar %}
  <div class="container">
    <div class="hero-unit">
      {% placeholder primary_header %}
    </div>
    <div class="row">
      <div class="span6">
        <h2>{% placeholder row_1_title %}</h2>
        <p>{% placeholder row_1_content %}</p>
      </div>
      <div class="span6">
        <h2>{% placeholder row_2_title %}</h2>
        <p>{% placeholder row_2_content %}</p>
     </div>
    </div>
  </div> <!-- /container -->
{% endblock %}
